{% extends 'base.html.twig' %}

{% block title %}New Soiree{% endblock %}

{% block body %}
    <h1>Create new Soiree</h1>

    {{ include('soiree/_form.html.twig') }}

    <a href="{{ path('app_soiree_index') }}">back to list</a>
{% endblock %}
