<div class="bg-white p-5">
	<ul class="list-unstyled flex gap-4">
		<li><a href="{{ path('accueil') }}">Accueil</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
        <li><a href="{{ path('apropos') }}">À propos</a></li>
	</ul>
</div>
	